/* Displays stars in a row */
.star-rating-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* Star Styling */
.star {
  color: #c9e8f3;
  cursor: pointer;
  font-size: 40px;
}
/* Star styling when hovering */
.star.active {
  color: #fbfb09;
}
